# Atlogex gitinore
/.idea/

# FOR MAGENTO

/app/*
/dev/
/downloader/
/errors/
/includes/
/js/
/lib/
/media/
/shell/
/skin/
/var/

/favicon.ico
/LICENSE.html
/RELEASE_NOTES.txt
/api.php
/index.php
/mage
/LICENSE.txt
/cron.sh
/.htaccess
/install.php
/get.php
/php.ini.sample
/cron.php
/index.php.sample
/.htaccess.sample
/LICENSE_AFL.txt

# My variant
!/app/code/local/
/app/code/local/Atlogex/
!/app/etc/modules/Hm_Test_AxEvents.xml
